*{
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}
#back{
	background-image: url("back.jpg");
	background-size: cover;
	background-position: center;	
	background-attachment: fixed;
	height: 100vh;
	width: 100%;
}
 



 


.container {
  display: inline flex;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 15px;
  margin-left: 40px;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 17px;
  width: 17px;
  background-color: #eee;
  border-radius: 50%;
  margin-left: 10px;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
 	top: 5px;
	left: 6px;
	width: 5px;
	height: 6px;
	border-radius: 50%;
	background: white;
}













.front{
	height: 545px;
	width: 415px;
	background-color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 9px;
}

.img1{
    width: 230px;
    padding-left: 50px;
    padding-top: 45px;
}
.row{
    display: inline-flex;
    padding-left: 30px;
    padding-top: 24px;
}
.col-sm-3{
	margin-left: 16px;
}


.img2{
	width: 30px;
	height: 20px;
	border: 1px solid #555;
	border-radius: 5px;
	padding-top: 11px;
	padding-bottom: 11px;
	padding-right: 19px;
	padding-left: 18px;
	margin-bottom: 23px;
}
.img3{
	width: 49px;
	height: 25px;
	border: 1px solid #555;
	border-radius: 5px;
	padding-top: 9px;
	padding-bottom: 9px;
	padding-left: 9px;
	padding-right: 9px;
}

.img2:hover{
	border: 1px solid blue;
}
.img3:hover{
	border: 1px solid blue;
}

.col-lg-6{
	padding-left: 20px;
	padding-bottom: 10px;
}
.name input{
	margin-left: 45px;
	padding-top: 26px;
	padding-bottom: 7px;
	padding-left: 20px;
	padding-right: 128px;
	border: 1px solid #555;
	border-radius: 5px;
	font-size: 14px;
	margin-top: 20px;
	margin-bottom: 20px;
	outline: none !important;
}

.name input:focus{
	border: 1px solid blue;
}
.card input:focus{
	border: 1px solid blue;
}
.col-md-6 input:focus {
	border: 1px solid blue;
}

.card input{
	margin-left: 45px;
	padding-top: 26px;
	padding-bottom: 7px;
	padding-left: 20px;
	padding-right: 126px;
	border: 1px solid #555;
	border-radius: 5px;
	font-size: 15px;
	outline: none !important;
}

.col-md-6 input{
	width: 133px;
	padding-top: 26px;
	padding-bottom: 7px;
	font-size: 15px;
	border-radius: 5px;
    padding-left: 19px;
    margin-left: 15.5px;
    border: 1px solid #555;
    outline: none !important;
}

.btn{
	background-color: blue;
	margin-left: 46px;
	padding-top: 15px;
	padding-bottom: 15px;
    text-align: center;
    font-size: 15px;
    color: #fff;
    padding-left: 110px;
    padding-right: 109px;
    border-radius: 5px;
    border: none;
    margin-top: 20px;
}

.label1{
	position: absolute;
	margin-left: 66px;
	padding-top: 26px;
	padding-bottom: 11px;
	color: blue;
	font-size: 13px;
}
.label2{
	position: absolute;
	margin-left: 66px;
	padding-top: 6px;
	padding-bottom: 8px;
	color: blue;
	font-size: 13px;
}
.label3{
	position: absolute;
	margin-left: 37px;
	padding-top: 6px;
	padding-bottom: 7px;
	color: blue;
	font-size: 12px;
}






















